{% extends "base.html.twig" %}
{% block body %}
<h2>Register a bet</h2>
<form method="post">
    <p><label>Who?</label> <input type="text" name="user" /></p>
    <p><label>Game</label> <input type="text" name="game" /></p>
    <p><label>Left Score</label> <input type="text" name="leftScore" /></p>
    <p><label>Right Score</label> <input type="text" name="rightScore" /></p>
    <button type="submit">Bet!</button>
</form>
<h1>Bets</h1>
<ul>
{% for bet in bets %}
    <li>
        [{{ bet.user }}] ({{ bet.leftScore }}) {{ bet.game }} ({{ bet.rightScore }})

        <a href="{{ path('delete_bet', { 'id': bet.id }) }}">Delete</a>
    </li>
{% endfor %}
</ul>
<hr />
<h3>Report Game Result</h3>
<form method="post" action="{{ path('report') }}">
    <p><label>Game</label> <input type="text" name="game" /></p>
    <p><label>Left Score</label> <input type="text" name="leftScore" /></p>
    <p><label>Right Score</label> <input type="text" name="rightScore" /></p>
    <button type="submit">Report Result</button>
</form>
{% endblock %}