{% extends "base.html.twig" %}
{% block body %}
    <h1>Register a bet</h1>
    <form method="post" action="{{ path('place_bet') }}">
        <input type="text" name="user" placeholder="Who are you?" /><br />
        <input type="text" name="game" placeholder="Which bet?" /><br />
        <input type="text" name="leftScore" placeholder="Left score" /><br />
        <input type="text" name="rightScore" placeholder="Right score" /><br />

        <button type="submit">Bet 🎟</button>
    </form>
    <hr />
    <ul>
    {% for bet in bets %}
        <li>{{ bet.user }} placed a bet on {{ bet.game }}: {{ bet.leftScore }} - {{ bet.rightScore }}
    {% endfor %}
    </ul>
    <hr />
    <h3>Your are an admin, you can do this.</h3>
    <form method="post">
        <input type="text" name="game" placeholder="Which bet?" /><br />
        <input type="text" name="leftScore" placeholder="Left score" /><br />
        <input type="text" name="rightScore" placeholder="Right score" /><br />
        <button type="submit">Send results</button>
    </form>
{% endblock %}